@inherits CreateBase
@page "/Courses/Create"

<h2>Create</h2>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @*<form method="post">
                @Html.ValidationDiv()
                @Html.FormBlock(m => m.Data.Number)
                @Html.FormBlock(m => m.Data.Title)
                @Html.FormBlock(m => m.Data.Credits)
                @Html.FormBlock(m => m.Data.Department)
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>*@
        <EditForm Model="Data" OnValidSubmit="@Create_Click">
            <DataAnnotationsValidator />

            <div class="form-group">
                <label class="control-label col-md-2">Number</label>
                <div class="col-md-3">
                    <InputSelect @bind-Value=" Data.Number" class="form-control">
                    </InputSelect>
                    <ValidationMessage For="(() => Data.Number)" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Title</label>
                <div class="col-md-3">
                    <InputText class="form-control" @bind-Value="Data.Title" />
                    <ValidationMessage For="(() => Data.Title)" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-3 text-right esh-button-actions">
                    <a href="/" class="btn esh-button esh-button-secondary">
                        [ Cancel ]
                    </a>
                    <button type="submit" class="btn esh-button esh-button-primary">
                        [ Create ]
                    </button>
                </div>
            </div>

        </EditForm>
    </div>
</div>
